/*
Como no funciono aca definir variables de tailwind puedo usar --lamierda como variable de css
El @theme solo se procesa una vez no puede sobreescribirse
*/
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  --lamierda: brown;
}

.colormierda {
  color: var(--lamierda)
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

